# ignore .log files
*.log



# ***** DarknessFallsCore ***** #

0-DarknessFallsCore/Assets/
0-DarknessFallsCore/Worlds/


# ***** Tactical Weapons 1997 ***** #

2-A21-Tactical Weapons-1997/Resources/


# ***** Legendary Weapons ***** #

2-Scripts_Melee_Arsenal_Legendary_Weapons/Resources/


# ***** 
