# ignore .log files
*.log



# ***** DarknessFallsCore ***** #

0-DarknessFallsCore/Assets/
0-DarknessFallsCore/Worlds/


# ***** Tactical Weapons 1997 ***** #

2-A21-Tactical Weapons-1997/Resources/


#
